.editForm{
    margin-top: 200px;
    margin-left: 200px;
}

.content-card.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    border: 1px outset #ccc;
    border-radius: 5px;
    background: linear-gradient(to right, #fff, #ddd);
}

.content-card.modal label {
    flex: 0.5;
}

.content-card.modal input {
    flex: 0.5;
}

.content-card.modal button {
    margin: 20px auto 10px auto;
    cursor: pointer;
}